<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <!-- 存储权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"
        android:minSdkVersion="33" />

    <!-- 录音权限（语音输入功能需要） -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />


    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyBigHomeWork"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config">
        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ReportActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".MoreActivity"
            android:exported="false" />
        <activity
            android:name=".VocabularyActivity"
            android:exported="false" />
        <activity
            android:name=".MockExamActivity"
            android:exported="false" />
        <activity
            android:name=".WrongQuestionActivity"
            android:exported="false" />
        <activity
            android:name=".WrongQuestionPracticeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PracticeResultActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StudyPlanActivity"
            android:exported="false" />
        <activity
            android:name=".AddStudyPlanActivity"
            android:exported="false" />
        <activity
            android:name=".DailyTaskActivity"
            android:exported="false" />
        <activity
            android:name=".DailySentenceActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".CameraTranslationActivity"
            android:exported="false" />
        <activity
            android:name=".GlmChatActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".TextTranslationActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ExamListActivity"
            android:exported="false" />
        <activity
            android:name=".ExamAnswerActivity"
            android:exported="false" />
        <activity
            android:name=".ExamAnalysisActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ExamResultActivity"
            android:exported="false"
            android:label="考试成绩"
            android:screenOrientation="portrait" />
        
        <!-- FileProvider for sharing images -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>